<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ahorcado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/estilos.css') }}">
</head>
<body class="inicio">
    <div class="inicio-container">
        <h1 class="titulo">AHORCADO<br>LIMPIEZA-HIGIENE</h1>
        <a href="{{ url_for('juego') }}" class="btn-inicio">INICIAR JUEGO</a>
    </div>
    
    <footer class="autor">
        Autor: Roberto Gallegos - C.E.T.i.s. N° 47
    </footer>
</body>
</html>